@charset "UTF-8";
.homePage{
	background-color:green;

	
}

.text-center{
	color:white;
	font-family:monospace;
}
.nav{
	
	padding:2px 10px 2px 10px;
	font-family:monospace;
	border-radius:4px;
	color:white;
	
}
.btn-danger{
	
	width:200px;
	color:white;
}
#registerPage{
	background-color:black;
}
.register{
	background-color:white;
	
}